ENVIRONMENT=development # development | production

AUTH__DEFAULT_USERNAME="test"
AUTH__DEFAULT_PASSWORD="test"

POSTGRESQL__HOST="db"
POSTGRESQL__PORT=5432
POSTGRESQL__DATABASE="db"
POSTGRESQL__USERNAME="admin"
POSTGRESQL__PASSWORD="123456"

FASTAPI__ENDPOINT_PREFIX=""
FASTAPI__PORT=8000
FASTAPI__DOCS_URL="${FASTAPI__ENDPOINT_PREFIX}/docs"
FASTAPI__REDOC_URL="${FASTAPI__ENDPOINT_PREFIX}/redoc"
FASTAPI__OPENAPI_URL="${FASTAPI__ENDPOINT_PREFIX}/openapi.json"
FASTAPI__LOG_LEVEL="INFO"

JWT__SECRET_KEY="test"
JWT__ALGORITHM="HS256"
JWT__ACCESS_TOKEN_EXPIRES_MINUTE=60

WORKER_POOL__WORKER_COUNT=4
WORKER_POOL__JOBS_EXECUT_SIMULTANEOSLY=10